---
http_interactions:
- request:
    method: post
    uri: https://mapp.ababank.com/api/v1/login
    body:
      encoding: UTF-8
      string: "<REQUEST_BODY>"
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":{"code":1,"description":"null [null]"},"token":"F8tHKtBB6t3TPfc1DBQDL2ucb3qyKfu5","session_id":"3122648"}'
  recorded_at: Wed, 14 Dec 2016 01:34:52 GMT
- request:
    method: post
    uri: https://mapp.ababank.com/api/v1/cards
    body:
      encoding: UTF-8
      string: "<REQUEST_BODY>"
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":{"code":1,"description":"null [null]"},"cards":[{"number":"623375****4281","acc":"000123456","accname":"SAVINGS
        ACCOUNT","cardname":"UnionPay Debit cards","balance":1000.00,"ccy":"USD","candb":"Y","cancr":"Y"}],"ecash_ccy":"USD","ecash_fee":0.5,"lastcr":{"acc":"000123456","date":"1481654111"},"lastdb":{"acc":"000123456","date":"1481654102"},"otp_limit":20000.01,"pin_limit":0.01}'
  recorded_at: Wed, 14 Dec 2016 01:34:54 GMT
recorded_with: VCR 3.0.3
