---
http_interactions:
- request:
    method: post
    uri: https://mapp.ababank.com/api/v1/login
    body:
      encoding: UTF-8
      string: "<REQUEST_BODY>"
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":{"code":1,"description":"null [null]"},"token":"NYjRWqHwFdMjZkUc41jq72nZQs3Rgo6s","session_id":"4258249"}'
  recorded_at: Wed, 14 Dec 2016 01:24:34 GMT
recorded_with: VCR 3.0.3
